body {
    font-family: sans-serif;
    background-color:royalblue
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
    border-bottom: 1px dotted black;
    font-size: 20px;
}

.catalog {
    width: 1300px;
    height: 1000px; 
}

.product {
    float: left;
    width: 500px;
    text-align: center;
    padding: 40px;
    border: 5px double grey;
     background-color: lightgrey;
     margin: 200px 400px 200px 200px;
}
